logs
*.log
npm-debug.log*
.eslintcache
/coverage
/dist
/local
/reports
/node_modules
/test/__expected__
/public/*.js
/public/*.css
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
